# MkDocs Build Output
site/

# Arquivos de cache do Python
__pycache__/
*.pyc
.ruff_cache/

# Pytest
.pytest_cache/
htmlcov/
.coverage

# Ambiente
.venv/
*.env
.vscode/

# Dependências
node_modules/
/package-lock.json
/package.json
/tsconfig.json
/requirements.txt
/biome.json
/app.json

# Expo
.expo/
dist/