# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.envs/
.venv/

# Environment variables
.env
.env.*

# Django
db.sqlite3
db.sqlite3-journal

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docs
docs/
mkdocs.yml
README.md

# Build artifacts
dist/
build/
*.egg-info/
